/* To adjust the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* To make the navigation between section very smooth. */
html{
    scroll-behavior: smooth;
}

/* For the lines. */
hr{
    margin: 2.5rem auto;
    width: 60%;
    border: 0.1875rem solid orange;
}

/* Header styling. adjusting both the <nav> and <div.logo> */
header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffeb;
    box-shadow: 0 0.125rem 0.625rem black;
    padding: 0.625rem 3.125rem;
    z-index: 9;
}

/* For the navigation unordered list */
nav ul{
    list-style: none;
    display: flex;
    gap: 3.75rem;
    margin-right: 1.875rem;
}

/* For the navigation list items */
nav ul li{
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* For the navigation links */
ul li a{
    font-size: 1.25rem;
    text-decoration-line: none;
    color: rgb(99, 98, 98);
    transition: color 0.5s ease;
}

/* For the hover effect on navigation list items */
nav ul li a:hover{
    cursor: pointer;
    color: rgb(0, 183, 255);
}


/* -------------------------------------------------- HERO SECTION --------------------------------------------------------- */


/* For the main hero section */
.startSection{
    position: relative;
    height: 40.625rem;
    background-image: url("images/testImage.PNG");
    background-color: #ffffeb;
    background-size: 65%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 2.5rem 1.875rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* main tital animatin */
.mainTital{
    color: rgb(1, 90, 65);
    font-size: 3.75rem;
    margin-left: 5rem;
    line-height: 3.0;
    animation: fadeInUp 1s ease;
}

/* for the start section. */
.startSection p{
    color: rgb(99, 98, 98);
    font-size: 1.5rem;
    width: 35%;
    line-height: 1.6;
    margin-left: 5rem;
    animation: fadInLeft 1.5s ease;
    text-align: justify;
}

/* to reach the <a> that contain the button and remove the underline from it. */
.startSection a{
    text-decoration: none;
}


/* For the 'Show books' button */
.browesBooksButton{
    display: block;
    background-color: rgb(218, 144, 35);
    padding: 0.9375rem 1.5625rem;
    border: none;
    border-radius: 1.875rem;
    font-size: 1.375rem;
    cursor: pointer;
    margin-top: 1.875rem;
    margin-left: 5rem;
    color: white;
    text-decoration-line: none;
    transition: background-color 0.5s ease, box-shadow 0.6s ease;
    animation: fadInRight 2s ease;
}

/* For the 'Show books' button hover effect */
.browesBooksButton:hover{
    background-color: rgb(143, 86, 0);
    box-shadow: 0 0.125rem 0.625rem rgba(249, 248, 248, 0.3);
}


/* ------------------------------------------- MAIN SECTION -------------------------------------------------------- */


/* For the 'Special books' text in the main content. */
#specialBooksTitle{
    color: white;
    text-align: center;
    margin: 1.875rem;
    line-height: 3.0;
    background-color: rgb(242, 201, 112);
    border-radius: 0.625rem 3.125rem;
    box-shadow: 0 0.3rem 0.3rem rgba(94, 60, 10, 0.7);
    animation-name: text-shadow-multicolor;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

/* To show ana adjust the books beside each other. */
.specialBooks{
    display: flex;
    justify-content: center;
    gap: 4.375rem;
    flex-wrap: wrap;
    margin: 2.5rem 0rem;
}

/* Test above the book catagories. */
#showBooks{
        font-size: 2.25rem;
        color: rgb(113, 81, 0);
    }

/* To make borders around book covers. */
.bookS img{
    border: solid black 0.0625rem;
    border-radius: 0.625rem 0.625rem 0 0;
    width: 12.5rem;
    height: 18.75rem;
    margin: 0 auto;
}

/* Special books 3D like display. */
/* Scene */
.scene{
  perspective:62.5rem;
}

/* Book */
.book{
  position:relative;
  width:10rem;
  height:13.75rem;
  transform-style:preserve-3d;
  transform:rotateY(-30deg);
  transition:0.6s;
}

.book:hover{
  transform:rotateY(-10deg);
}

/* The pages inside the book. */
.page {
  position: absolute;
  width: 10rem;
  height: 13.75rem;
  box-shadow: 0 0 0.125rem rgba(0,0,0,0.2);
  transform-origin: left;
  transition: transform 0.5s;
}

/* the cover. */
.front-book{
  position:absolute;
  width:10rem;
  height:13.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.375rem;
  font-weight:bold;
  transform:translateZ(1.25rem);
}

/* The back of the book. */
.back{
  position:absolute;
  width:10rem;
  height:13.75rem;
  background:#f1f1ef;
  border: 0.1em solid rgb(147, 145, 145) ;
  transform:rotateY(180deg) translateZ(1.125rem);
}


/* Section books display. */
/* ====== Wrapper ====== */
.wrapper {
  display: flex;
  gap: 1.5625rem;
  width: 95%;
  padding: 3.125rem;
  overflow: hidden;
}

/* ====== Side Card ====== */
.side-card {
  min-width: 13.75rem;
  padding: 1.25rem 0.625rem;
  border: #ff7a18 0.125rem solid;
  box-shadow: 0 0.125rem 0.4375rem #ffd200;
  text-shadow: 0 0.25rem 0.5rem rgb(255, 255, 255);
  border-radius: 1.125rem;
  background-color: rgb(242, 201, 112);
  color: #000;
  font-size: 2.5rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ====== Cards Container ====== */
.covers {
  display: flex;
  align-items: flex-end;
  gap: 0;
  overflow-x: auto;
  padding: 3.75rem 1.25rem;
  perspective: 75rem;
}

/* Scrollbar */
.covers::-webkit-scrollbar {
  height: 0.375rem;
}
.covers::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff7a18, #ffd200);
  border-radius: 0.625rem;
}

/* ====== Book Card ====== */
.cover {
  min-width: 12.5rem;
  height: 18.75rem;
  margin-left: -1.25rem; /* stacking */
  padding: 0;
  background: transparent;
  position: relative;
  border-radius: 0.625rem;
  transition: all 0.4s ease;
}
.cover:first-child {
  margin-left: 0;
}

/*  Book Image  */
.cover img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 1.5625rem rgba(0,0,0,0.35);
  transition: transform 0.4s ease;
}

/*  Hover Effect  */
.cover:hover {
  transform: translateY(-2.5rem) translateX(0.375rem) rotateY(18deg) scale(1.05);
  z-index: 10;
}

/* Explorer books */
.bookExplorer{
    text-align: center;
}

/* for the labels in other catagories */
.bookExplorer h1{
    color: white;
    text-align: center;
    margin: 1.875rem;
    line-height: 3.0;
    background-color: rgb(242, 201, 112);
    border-radius: 0.625rem 3.125rem;
    box-shadow: 0 0.3rem 0.3rem rgba(94, 60, 10, 0.7);
}

/* Features styling */
.featureDescription{
    width: fit-content;
    margin: 3.75rem auto;
    text-align: center;
}
.features{
    text-align: center;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 0.625rem;
    margin: 3.125rem 0;
}

.features div{
    width: 20%;
    height: 17.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem black;
    padding: 0.625rem;
    transition: all 0.5s ease;
}

.featureIcon{
    display: block;
    font-size: 2.5rem;
    margin: 2rem 0;
    transition: all  0.5s ease;
}

.features h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.features p{
    font-size: 1.2rem;
}

.features div:hover{
    transform: translateY(-0.625rem);
    box-shadow: 0 0.125rem 0.375rem rgb(182, 145, 0);
}

.features div:hover .featureIcon{
    font-size: 3rem;
    text-shadow: 0 0.125rem 0.375rem rgb(182, 145, 0);
}


/* -------------------------------------------------- FOOTER ------------------------------------------------------- */


/* Footer section */
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1.25rem;
    box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.5);
}

/* Adjusting the main text (the big ones) in the footer. */
.footerHeaders{
    font-size: 1.125rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border-bottom: solid rgb(255, 255, 255) 0.25rem;
}

/* Adjuting the contect below the main text (the big ones) */
.footerContent{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 0.625rem;
    padding: 0.625rem;
    font-size: 0.875rem;
}

/* Adjusting all footer content. */
.footerAboutUs, .footerQuickLinks, .footerInformationContact{
    width: 25%;
}

/* Adjust the hight of the text line. */
.footerAboutUs p{
    line-height: 1.5;
    text-align: justify;
}

/* For the 'quick links' section of the footer. */
.footerLinks{
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    text-align: center;
}

/* For the 'contact us' section of the footer. */
.footerInformationContact{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

/* Giving the links the white colort and the padding as well. */
.footerLinks a{
    color: rgb(255, 255, 255);
    padding: 0.625rem;
    transition: color 0.5s ease;
}

/* Giving the links some hover animation. */
.footerLinks a:hover{
    color: rgb(77, 130, 255);
    border-radius: 0.3125rem;
}

/* For the line above the copyright text. */
footer > hr{
    margin-top: 1.25rem;
    border: solid rgb(255, 255, 255) 0.0625rem;
    width: 50%;
    margin: 0rem auto;
}

/* For the copyright text */
.copyRights{
    margin-top: 1.25rem;
    font-size: 0.875rem;
    font-weight: bold;
}




/* contact page section. */
/* --------------------------------------------------------------------------- */

/* For the contact form that contain the input fields and textarea */

.contactPageBody{
    background-image: url('images/backgroundContact.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* For the icons in the contact page. */
.infoIcon{
    position: absolute;
    top: 28.125rem;
    right: 21.875rem;
    animation: fadeInUp 2.5s ease;
}

.supportIcon{
    position: absolute;
    top: 9.375rem;
    left: 12.5rem;
    animation: fadeInDown 2.7s ease;
}

.supportIcon img{
    width: 9.375rem;
    height: 9.375rem;
}
.infoIcon img{
    width: 6.25rem;
    height: 6.25rem;
}

.fillInfoTitle{
    text-align: center;
}

.contactForm{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.9375rem;
    width: 35%;
    margin: 1.875rem auto;
    font-size: 1rem;
    padding: 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.5);
    animation: fadeInUp 0.8s ease;
}

.contactForm label{
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

/* Local storage box styling. */
#infoList {
  list-style: none;
  padding: 0;
}

#infoList li {
  background: #f4f4f46e;
  margin-bottom: 0.625rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(0.3125rem);
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
  animation: fadeInUp 0.8s ease-in-out;
}

#infoList li span {
  flex-grow: 1;
}

.add-btn:hover {
  background-color: #43a047;
}

.update-btn {
  background-color: #ffc107;
  color: black;
}

.update-btn:hover {
  background-color: #ffb300;
}

.actions button {
  margin-left: 0.5rem;
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.actions .edit {
  background-color: #03a9f4;
  color: white;
}

.actions .delete {
  background-color: #ff8800;
  color: white;
}


/* For the contact form's submit button */

.contactForm button{
    width: 80%;
    background-color: rgb(220, 173, 43);
    color: white;
    padding: 0.625rem;
    margin: 0.625rem auto;
    border: none;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* For the contact form's submit button hover effect */
.contactForm button:hover{
    background-color: rgb(144, 113, 28);
    box-shadow: 0 0.0625rem 0.3125rem black;
}

/* For the labels above the texts. */
.contactForm label{
    margin-left: 2.5rem;
}

/* For the contact form's input fields and textarea */
.contactForm input, .contactForm textarea{
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.375rem);
    width: 80%;
    margin: 0 auto;
    padding: 0.625rem;
    border: solid gray 0.0625rem;
    border-radius: 0.625rem;
    font-size: 0.875rem;
}


/* ---------------------------search page----------------------------------- */

.browseBody{
   background: rgba(255, 255, 255, 0.2);
    display: grid;
    justify-content: center;
    grid-template-columns: 8% 92%;
    border-radius: 1.25rem;
    box-shadow: 0 0.125rem 0.375rem black;
    margin: 3.125rem;
    animation: fadeInUp 0.9s ease;
}

.sideHeader{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem 0 0 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
}

.sideHeader img{
    animation: fadeInUp 2s ease;
}

.sideHeader a{
    line-height: 2.0;
    text-decoration-line: none;
}

.sideHeader a p{
    font-size: 0.875rem;
    color: black;
    opacity: 0;
    transition: all 0.5s ease;
}

.sideHeader a img{
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid black;
    border-radius: 50%;
    backdrop-filter: blur(0.3125rem);
    padding: 0.3125rem;
    position: relative;
    top: 1.25rem;
    transition: all 0.5s ease;
    animation: fadeInUp 2s ease;
}

.sideHeader .moveUp{
    margin-top: 15.625rem;
    position: sticky;
    top: 0.625rem;
}

.sideHeader a:hover img{
    transform: scale(1.2);
    box-shadow: 0 0.125rem 0.625rem rgb(0, 0, 0);
}

.sideHeader a:hover p{
    opacity: 1;
    text-shadow: 0 0.125rem 0.625rem black;
    transform: translateY(0.625rem);
}

.sideHeader > p{
    margin-top: 1.875rem;
    font-size: 1.25rem;
    line-height: 2.0;
    animation: fadeInUp 2s ease;
}

.searchSection{
    text-align: center;
    width: 100%;
}

.wordSearch input{
    font-size: 0.875rem;
    background-color: rgba(219, 219, 219, 0.3);
    outline: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    padding: 0.625rem;
    width: 60%;
    margin: 1.875rem 0;
    transition: all 0.5s ease;
    animation: fadeInUp 2.3s ease;
}

.wordSearch input:hover{
    box-shadow: 0 0.125rem 0.4375rem black;
}

.wordSearch span{
    position: relative;
}

.wordSearch span img{
    position: absolute;
    right: 2.1875rem;
    top: -0.375rem;
    transition: all 0.5s;
    animation: fadeInUp 2.3s ease;
}

.wordSearch select{
    background-color: rgba(219, 219, 219, 0.3);
    font-size: 0.875rem;
    padding: 0.625rem;
    margin: 0 1.25rem;
    border-radius: 1.25rem;
    outline: none;
    transition: all 0.5s ease;
    animation: fadeInUp 2.3s ease;
}

.wordSearch select:hover{
    box-shadow: 0 0.125rem 0.4375rem black;
}

.wordSearch button{
    font-size: 0.875rem;
    color: white;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    background-color: rgb(250, 193, 39);
    box-shadow: 0 0.0625rem 0.1875rem black;
    transition: all 0.5s ease;
}

.wordSearch button:hover{
    background-color: rgb(220, 161, 0);
    box-shadow: 0 0.125rem 0.4375rem black;
}

.allBooks{
    display: flex;
    justify-content: center;
    gap: 4.375rem;
    flex-wrap: wrap;
    margin: 2.5rem 0rem;
}
.testBody{
    background-image: url('images/backgroundSearch.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}




/* ------------------------- Media querys -------------------------------- */

/* For mobile */
@media (max-width: 480px){
    /* for header. */
    header{
        padding: 1.25rem;;
    }

    nav ul{
        margin-left: 0rem;
        justify-content: space-evenly;
    }
    
    nav ul li{
        padding: 0;
    }

    nav ul li a{
        font-size: 1.125rem;
        text-align: center;
    }

    /* for the hero section. */
    .startSection{
        padding: 2.5rem 0;
        height: 35.625rem;
        background-size: 60% 80%;
        background-position: bottom right;

    }
    .mainTital{
        line-height: 1.6;
        margin-left: 2.5rem;
    }
    
    .startSection p{
        margin: 1.875rem 2.5rem;
        font-size: 1rem;
        width: 45%;
        text-align: left;
        line-height: 2.0;
    }

    .browesBooksButton{
        position: relative;
        top: 0.625rem;
        left: 0.3125rem;
        margin: 1.25rem;
        padding: 0.9375rem;
        font-size: 1.125rem;
    }

    /* Main section. */
    #specialBooks{
        font-size: 0.875rem;
        padding: 0.625rem 0;
    }

    .specialBooks{
        flex-wrap: wrap;
        gap: 1.875rem;
        overflow-x: auto;
        padding: 1.25rem;
    }

    #showBooks{
        font-size: 1.625rem;
    }

    .wrapper{
        flex-direction: column;
        width: 100%;
    }

    .side-card{
        width: 100%;
        padding: 0;
        font-size: 1.75rem;

    }

    /* fearturs. */
    .features{
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    .features div{
        width: 80%;
        height: fit-content;
    }
    .featureIcon{
        font-size: 2.5rem;
        margin: 0.625rem 0;
    }

    /* contact form. */
    .contactForm{
        width: 90%;
        margin: 1.25rem auto;
        margin-bottom: 3.125rem;
        font-size: 0.875rem;
        padding: 1.25rem;
    }

    .fillInfoTitle{
        font-size: 1.375rem;
    }

    /* Footer. */
    .footerHeaders{
        font-size: 0.875rem;
        margin: 0.3125rem -0.625rem;
        justify-content: space-between;
        border-bottom: solid white 0.125rem;
    }

    .footerAboutUs, .footerQuickLinks, .footerInformationContact{
        justify-content: space-between;
        margin: 0.1875rem -3.125rem;
        font-size: 0.75rem;
    }
    
    .footerInformationContact{
        text-align: left;
    }

    /* search book page. */
    .browseBody{
        grid-template-columns: 20% 80%;
        margin: 0.625rem;
    }
    .sideHeader a p{
        font-size: 0.625rem;
    }
    .browseBody input{
        width: 90%;
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }
    .allBooks{
        gap: 1.25rem;
        margin: 1.875rem 0rem;
    }

    /* For the icons in the contact page. */
    .infoIcon{
        position: absolute;
        top: 6.25rem;
        right: 0.625rem;
        animation: fadeInUp 2.5s ease;
        z-index: 1;
    }

    .supportIcon{
        position: absolute;
        top: 28.125rem;
        left: 0;
        animation: fadeInDown 2.7s ease;
        z-index: 1;
    }

    .supportIcon img, .infoIcon img{
        width: 6.25rem;
        height: 6.25rem;
    }
}

/* For tablets */
@media (min-width: 481px) and (max-width: 768px){
    /* for header. */
    header{
        padding: 1.25rem;;
    }

    nav ul{
        margin-left: 0rem;
        justify-content: space-evenly;
    }
    
    nav ul li{
        padding: 0;
    }

    nav ul li a{
        font-size: 1.125rem;
        text-align: center;
    }

    /* for the hero section. */
    .startSection{
        padding: 2.5rem 0;
        height: 35.625rem;
        background-size: 60% 80%;
        background-position: bottom right;

    }
    .mainTital{
        line-height: 1.6;
        margin-left: 2.5rem;
    }
    
    .startSection p{
        margin: 1.875rem 2.5rem;
        font-size: 1rem;
        width: 45%;
        text-align: left;
        line-height: 2.0;
    }

    .browesBooksButton{
        position: relative;
        top: 0.625rem;
        left: 0.3125rem;
        margin: 1.25rem;
        padding: 0.9375rem;
        font-size: 1.125rem;
    }

    /* Main section. */
    #specialBooks{
        font-size: 0.875rem;
        padding: 0.625rem 0;
    }

    .specialBooks{
        flex-wrap: wrap;
        gap: 1.875rem;
        overflow-x: auto;
        padding: 1.25rem;
    }

    #showBooks{
        font-size: 1.625rem;
    }

    .wrapper{
        flex-direction: column;
        width: 100%;
    }

    .side-card{
        width: 100%;
        padding: 0;
        font-size: 1.875rem;

    }

    /* fearturs. */
    .features{
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    .features div{
        width: 80%;
        height: fit-content;
    }
    .featureIcon{
        font-size: 2.5rem;
        margin: 0.625rem 0;
    }

    /* contact form. */
    .contactForm{
        width: 70%;
        margin: 1.25rem auto;
        margin-bottom: 3.125rem;
        font-size: 0.875rem;
        padding: 1.25rem;
    }

    .infoIcon{
        position: absolute;
        top: 6.25rem;
        right: 0.625rem;
        animation: fadeInUp 2.5s ease;
        z-index: 1;
    }

    .supportIcon{
        position: absolute;
        top: 28.125rem;
        left: 0;
        animation: fadeInDown 2.7s ease;
        z-index: 1;
    }

    .supportIcon img, .infoIcon img{
        width: 9.375rem;
        height: 9.375rem;
    }

    /* Footer. */
    .footerHeaders{
        font-size: 0.875rem;
        margin: 0.3125rem -0.625rem;
        justify-content: space-between;
        border-bottom: solid white 0.125rem;
    }

    .footerAboutUs, .footerQuickLinks, .footerInformationContact{
        justify-content: space-between;
        margin: 0.3125rem -3.125rem;
        font-size: 0.75rem;
    }
    
    .footerInformationContact{
        text-align: left;
        gap: 0.625rem;
    }

    /* search book page. */
    .browseBody{
        grid-template-columns: 20% 80%;
        margin: 0.625rem;
    }
    .sideHeader a p{
        font-size: 0.625rem;
    }
    .browseBody input{
        width: 90%;
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }
    .allBooks{
        gap: 1.25rem;
        margin: 1.875rem 0rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
     /* for the hero section. */
    .startSection{
        padding: 2.5rem 0;
        height: 35.625rem;
        background-size: 60% 90%;
        background-position: bottom right;

    }
    .mainTital{
        margin-top: 1.875rem;
        line-height: 1.6;
        margin-left: 2.5rem;
    }
    
    .startSection p{
        margin:  2.5rem;
        font-size: 1.125rem;
        width: 45%;
        text-align: left;
        line-height: 2.0;
    }

    .browesBooksButton{
        position: relative;
        top: 0.625rem;
        left: 0.9375rem;
        margin: 1.25rem;
        padding: 0.9375rem;
        font-size: 1.125rem;
    }

    .supportIcon{
        position: absolute;
        top: 18.75rem;
        left: 0;
        animation: fadeInDown 2.7s ease;
        z-index: 1;
    }
}

/* Animation section */

/* For the special books section. */
@keyframes text-shadow-multicolor {		
	0% {
      text-shadow:0 0px 15px   rgb(85, 51, 0);
    }
    33% {
      text-shadow:0 0px 15px   rgb(254, 208, 139);
    }
    66% {
      text-shadow:0 0px 10px   rgb(195, 118, 3);
    }
    100% {
      text-shadow:0 0px 10px    rgb(85, 51, 0);
    }
}

@keyframes fadInRight{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadInLeft{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}